# _version=28
# HAProxy Technologies
# https://www.haproxy.com/
# this file is not meant to be changed directly
# it is under haproxy ingress controller management

global
  daemon
  default-path config
  master-worker
  pidfile /var/run/haproxy.pid
  stats socket /var/run/haproxy-runtime-api.sock expose-fd listeners level admin
  stats timeout 36000
  limited-quic
  tune.ssl.default-dh-param 2048
  ssl-default-bind-options no-sslv3 no-tls-tickets no-tlsv10
  ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA:!3DES
  hard-stop-after 1800000
  log 127.0.0.1 local0 notice

defaults haproxytech
  log global
  log-format '%ci:%cp [%tr] %ft %b/%s %TR/%Tw/%Tc/%Tr/%Ta %ST %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs "%HM %[var(txn.base)] %HV"'
  option redispatch 0
  option dontlognull
  option http-keep-alive
  timeout http-request 5000
  timeout connect 5000
  timeout client 50000
  timeout queue 5000
  timeout server 50000
  timeout tunnel 3600000
  timeout http-keep-alive 60000

peers localinstance
  peer haproxy-ingress-kubernetes-ingress-756466777c-rrwvb 10.42.0.12:10000

frontend healthz
  mode http
  bind 0.0.0.0:1042 name v4
  bind :::1042 name v6 v4v6
  monitor-uri /healthz
  option dontlog-normal

frontend http
  mode http
  bind 0.0.0.0:8080 name v4
  bind [::]:8080 name v6
  http-request set-var(txn.base) base
  http-request set-var(txn.path) path
  http-request set-var(txn.host) req.hdr(Host),field(1,:),lower
  http-request set-var(txn.host_match) var(txn.host),map(/etc/haproxy/maps/host.map)
  http-request set-var(txn.host_match) var(txn.host),regsub(^[^.]*,,),map(/etc/haproxy/maps/host.map,'') if !{ var(txn.host_match) -m found }
  http-request set-var(txn.path_match) var(txn.host_match),concat(,txn.path,),map(/etc/haproxy/maps/path-exact.map)
  http-request set-var(txn.path_match) var(txn.host_match),concat(,txn.path,),map_beg(/etc/haproxy/maps/path-prefix.map) if !{ var(txn.path_match) -m found }
  use_backend %[var(txn.path_match),field(1,.)]
  default_backend ingress_default-local-service_http

frontend https
  mode http
  bind 0.0.0.0:8444 name v4 crt /etc/haproxy/certs/frontend ssl alpn h2,http/1.1 accept-proxy
  bind [::]:8444 name v6 crt /etc/haproxy/certs/frontend ssl v4v6 alpn h2,http/1.1 accept-proxy
  bind quic4@0.0.0.0:8443 name quicv4 crt /etc/haproxy/certs/frontend ssl alpn h3
  bind quic6@[::]:8443 name quicv6 crt /etc/haproxy/certs/frontend ssl alpn h3
  http-request set-var(txn.base) base
  http-request set-var(txn.path) path
  http-request set-var(txn.host) req.hdr(Host),field(1,:),lower
  http-request set-var(txn.host_match) var(txn.host),map(/etc/haproxy/maps/host.map)
  http-request set-var(txn.host_match) var(txn.host),regsub(^[^.]*,,),map(/etc/haproxy/maps/host.map,'') if !{ var(txn.host_match) -m found }
  http-request set-var(txn.path_match) var(txn.host_match),concat(,txn.path,),map(/etc/haproxy/maps/path-exact.map)
  http-request set-var(txn.path_match) var(txn.host_match),concat(,txn.path,),map_beg(/etc/haproxy/maps/path-prefix.map) if !{ var(txn.path_match) -m found }
  http-request redirect scheme https unless { ssl_fc }
  http-request set-header X-Forwarded-Proto https
  use_backend %[var(txn.path_match),field(1,.)]
  default_backend ingress_default-local-service_http
  http-response set-header alt-svc "h3=\":443\";ma=60;"

frontend ssl
  mode tcp
  bind 0.0.0.0:8443 name v4
  bind [::]:8443 name v6 v4v6
  log-format '%ci:%cp [%t] %ft %b/%s %Tw/%Tc/%Tt %B %ts %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs SNI: %[var(sess.sni)]'
  tcp-request content reject if !{ req_ssl_hello_type 1 }
  tcp-request inspect-delay 5000
  tcp-request content set-var(sess.sni) req_ssl_sni
  tcp-request content set-var(txn.sni_match) req_ssl_sni,map(/etc/haproxy/maps/sni.map)
  tcp-request content set-var(txn.sni_match) req_ssl_sni,regsub(^[^.]*,,),map(/etc/haproxy/maps/sni.map)
  use_backend %[var(txn.sni_match),field(1,.)]
  default_backend ssl

frontend stats
  mode http
  bind :::1024 name v6
  bind *:1024 name stats
  stats enable
  stats uri /
  stats refresh 10s
  http-request set-var(txn.base) base
  http-request use-service prometheus-exporter if { path /metrics }

backend default_kubernetes_https
  mode tcp
  balance roundrobin
  no option abortonclose
  default-server check
  server SRV_1 172.22.105.149:6444 enabled
  server SRV_2 127.0.0.1:6444 disabled
  server SRV_3 127.0.0.1:6444 disabled
  server SRV_4 127.0.0.1:6444 disabled
  server SRV_5 127.0.0.1:6444 disabled
  server SRV_6 127.0.0.1:6444 disabled
  server SRV_7 127.0.0.1:6444 disabled
  server SRV_8 127.0.0.1:6444 disabled
  server SRV_9 127.0.0.1:6444 disabled
  server SRV_10 127.0.0.1:6444 disabled
  server SRV_11 127.0.0.1:6444 disabled
  server SRV_12 127.0.0.1:6444 disabled
  server SRV_13 127.0.0.1:6444 disabled
  server SRV_14 127.0.0.1:6444 disabled
  server SRV_15 127.0.0.1:6444 disabled
  server SRV_16 127.0.0.1:6444 disabled
  server SRV_17 127.0.0.1:6444 disabled
  server SRV_18 127.0.0.1:6444 disabled
  server SRV_19 127.0.0.1:6444 disabled
  server SRV_20 127.0.0.1:6444 disabled
  server SRV_21 127.0.0.1:6444 disabled
  server SRV_22 127.0.0.1:6444 disabled
  server SRV_23 127.0.0.1:6444 disabled
  server SRV_24 127.0.0.1:6444 disabled
  server SRV_25 127.0.0.1:6444 disabled
  server SRV_26 127.0.0.1:6444 disabled
  server SRV_27 127.0.0.1:6444 disabled
  server SRV_28 127.0.0.1:6444 disabled
  server SRV_29 127.0.0.1:6444 disabled
  server SRV_30 127.0.0.1:6444 disabled
  server SRV_31 127.0.0.1:6444 disabled
  server SRV_32 127.0.0.1:6444 disabled
  server SRV_33 127.0.0.1:6444 disabled
  server SRV_34 127.0.0.1:6444 disabled
  server SRV_35 127.0.0.1:6444 disabled
  server SRV_36 127.0.0.1:6444 disabled
  server SRV_37 127.0.0.1:6444 disabled
  server SRV_38 127.0.0.1:6444 disabled
  server SRV_39 127.0.0.1:6444 disabled
  server SRV_40 127.0.0.1:6444 disabled
  server SRV_41 127.0.0.1:6444 disabled
  server SRV_42 127.0.0.1:6444 disabled

backend devops_devops_kubelet
  mode tcp
  balance roundrobin
  no option abortonclose
  default-server check
  server SRV_1 10.42.0.15:8443 enabled
  server SRV_2 127.0.0.1:8443 disabled
  server SRV_3 127.0.0.1:8443 disabled
  server SRV_4 127.0.0.1:8443 disabled
  server SRV_5 127.0.0.1:8443 disabled
  server SRV_6 127.0.0.1:8443 disabled
  server SRV_7 127.0.0.1:8443 disabled
  server SRV_8 127.0.0.1:8443 disabled
  server SRV_9 127.0.0.1:8443 disabled
  server SRV_10 127.0.0.1:8443 disabled
  server SRV_11 127.0.0.1:8443 disabled
  server SRV_12 127.0.0.1:8443 disabled
  server SRV_13 127.0.0.1:8443 disabled
  server SRV_14 127.0.0.1:8443 disabled
  server SRV_15 127.0.0.1:8443 disabled
  server SRV_16 127.0.0.1:8443 disabled
  server SRV_17 127.0.0.1:8443 disabled
  server SRV_18 127.0.0.1:8443 disabled
  server SRV_19 127.0.0.1:8443 disabled
  server SRV_20 127.0.0.1:8443 disabled
  server SRV_21 127.0.0.1:8443 disabled
  server SRV_22 127.0.0.1:8443 disabled
  server SRV_23 127.0.0.1:8443 disabled
  server SRV_24 127.0.0.1:8443 disabled
  server SRV_25 127.0.0.1:8443 disabled
  server SRV_26 127.0.0.1:8443 disabled
  server SRV_27 127.0.0.1:8443 disabled
  server SRV_28 127.0.0.1:8443 disabled
  server SRV_29 127.0.0.1:8443 disabled
  server SRV_30 127.0.0.1:8443 disabled
  server SRV_31 127.0.0.1:8443 disabled
  server SRV_32 127.0.0.1:8443 disabled
  server SRV_33 127.0.0.1:8443 disabled
  server SRV_34 127.0.0.1:8443 disabled
  server SRV_35 127.0.0.1:8443 disabled
  server SRV_36 127.0.0.1:8443 disabled
  server SRV_37 127.0.0.1:8443 disabled
  server SRV_38 127.0.0.1:8443 disabled
  server SRV_39 127.0.0.1:8443 disabled
  server SRV_40 127.0.0.1:8443 disabled
  server SRV_41 127.0.0.1:8443 disabled
  server SRV_42 127.0.0.1:8443 disabled

backend ingress_default-local-service_http
  mode http
  balance roundrobin
  option forwardfor
  no option abortonclose
  default-server check
  server SRV_1 127.0.0.1:6061 enabled
  server SRV_2 127.0.0.1:6061 disabled
  server SRV_3 127.0.0.1:6061 disabled
  server SRV_4 127.0.0.1:6061 disabled
  server SRV_5 127.0.0.1:6061 disabled
  server SRV_6 127.0.0.1:6061 disabled
  server SRV_7 127.0.0.1:6061 disabled
  server SRV_8 127.0.0.1:6061 disabled
  server SRV_9 127.0.0.1:6061 disabled
  server SRV_10 127.0.0.1:6061 disabled
  server SRV_11 127.0.0.1:6061 disabled
  server SRV_12 127.0.0.1:6061 disabled
  server SRV_13 127.0.0.1:6061 disabled
  server SRV_14 127.0.0.1:6061 disabled
  server SRV_15 127.0.0.1:6061 disabled
  server SRV_16 127.0.0.1:6061 disabled
  server SRV_17 127.0.0.1:6061 disabled
  server SRV_18 127.0.0.1:6061 disabled
  server SRV_19 127.0.0.1:6061 disabled
  server SRV_20 127.0.0.1:6061 disabled
  server SRV_21 127.0.0.1:6061 disabled
  server SRV_22 127.0.0.1:6061 disabled
  server SRV_23 127.0.0.1:6061 disabled
  server SRV_24 127.0.0.1:6061 disabled
  server SRV_25 127.0.0.1:6061 disabled
  server SRV_26 127.0.0.1:6061 disabled
  server SRV_27 127.0.0.1:6061 disabled
  server SRV_28 127.0.0.1:6061 disabled
  server SRV_29 127.0.0.1:6061 disabled
  server SRV_30 127.0.0.1:6061 disabled
  server SRV_31 127.0.0.1:6061 disabled
  server SRV_32 127.0.0.1:6061 disabled
  server SRV_33 127.0.0.1:6061 disabled
  server SRV_34 127.0.0.1:6061 disabled
  server SRV_35 127.0.0.1:6061 disabled
  server SRV_36 127.0.0.1:6061 disabled
  server SRV_37 127.0.0.1:6061 disabled
  server SRV_38 127.0.0.1:6061 disabled
  server SRV_39 127.0.0.1:6061 disabled
  server SRV_40 127.0.0.1:6061 disabled
  server SRV_41 127.0.0.1:6061 disabled
  server SRV_42 127.0.0.1:6061 disabled

backend ingress_prometheus_http
  mode tcp
  balance roundrobin
  no option abortonclose
  default-server check

backend prod_prod_kubelet
  mode tcp
  balance roundrobin
  no option abortonclose
  default-server check
  server SRV_1 10.42.0.21:8443 enabled
  server SRV_2 127.0.0.1:8443 disabled
  server SRV_3 127.0.0.1:8443 disabled
  server SRV_4 127.0.0.1:8443 disabled
  server SRV_5 127.0.0.1:8443 disabled
  server SRV_6 127.0.0.1:8443 disabled
  server SRV_7 127.0.0.1:8443 disabled
  server SRV_8 127.0.0.1:8443 disabled
  server SRV_9 127.0.0.1:8443 disabled
  server SRV_10 127.0.0.1:8443 disabled
  server SRV_11 127.0.0.1:8443 disabled
  server SRV_12 127.0.0.1:8443 disabled
  server SRV_13 127.0.0.1:8443 disabled
  server SRV_14 127.0.0.1:8443 disabled
  server SRV_15 127.0.0.1:8443 disabled
  server SRV_16 127.0.0.1:8443 disabled
  server SRV_17 127.0.0.1:8443 disabled
  server SRV_18 127.0.0.1:8443 disabled
  server SRV_19 127.0.0.1:8443 disabled
  server SRV_20 127.0.0.1:8443 disabled
  server SRV_21 127.0.0.1:8443 disabled
  server SRV_22 127.0.0.1:8443 disabled
  server SRV_23 127.0.0.1:8443 disabled
  server SRV_24 127.0.0.1:8443 disabled
  server SRV_25 127.0.0.1:8443 disabled
  server SRV_26 127.0.0.1:8443 disabled
  server SRV_27 127.0.0.1:8443 disabled
  server SRV_28 127.0.0.1:8443 disabled
  server SRV_29 127.0.0.1:8443 disabled
  server SRV_30 127.0.0.1:8443 disabled
  server SRV_31 127.0.0.1:8443 disabled
  server SRV_32 127.0.0.1:8443 disabled
  server SRV_33 127.0.0.1:8443 disabled
  server SRV_34 127.0.0.1:8443 disabled
  server SRV_35 127.0.0.1:8443 disabled
  server SRV_36 127.0.0.1:8443 disabled
  server SRV_37 127.0.0.1:8443 disabled
  server SRV_38 127.0.0.1:8443 disabled
  server SRV_39 127.0.0.1:8443 disabled
  server SRV_40 127.0.0.1:8443 disabled
  server SRV_41 127.0.0.1:8443 disabled
  server SRV_42 127.0.0.1:8443 disabled

backend ssl
  mode tcp
  server https 127.0.0.1:8444 send-proxy-v2

backend staging_staging_kubelet
  mode tcp
  balance roundrobin
  no option abortonclose
  default-server check
  server SRV_1 10.42.0.18:8443 enabled
  server SRV_2 127.0.0.1:8443 disabled
  server SRV_3 127.0.0.1:8443 disabled
  server SRV_4 127.0.0.1:8443 disabled
  server SRV_5 127.0.0.1:8443 disabled
  server SRV_6 127.0.0.1:8443 disabled
  server SRV_7 127.0.0.1:8443 disabled
  server SRV_8 127.0.0.1:8443 disabled
  server SRV_9 127.0.0.1:8443 disabled
  server SRV_10 127.0.0.1:8443 disabled
  server SRV_11 127.0.0.1:8443 disabled
  server SRV_12 127.0.0.1:8443 disabled
  server SRV_13 127.0.0.1:8443 disabled
  server SRV_14 127.0.0.1:8443 disabled
  server SRV_15 127.0.0.1:8443 disabled
  server SRV_16 127.0.0.1:8443 disabled
  server SRV_17 127.0.0.1:8443 disabled
  server SRV_18 127.0.0.1:8443 disabled
  server SRV_19 127.0.0.1:8443 disabled
  server SRV_20 127.0.0.1:8443 disabled
  server SRV_21 127.0.0.1:8443 disabled
  server SRV_22 127.0.0.1:8443 disabled
  server SRV_23 127.0.0.1:8443 disabled
  server SRV_24 127.0.0.1:8443 disabled
  server SRV_25 127.0.0.1:8443 disabled
  server SRV_26 127.0.0.1:8443 disabled
  server SRV_27 127.0.0.1:8443 disabled
  server SRV_28 127.0.0.1:8443 disabled
  server SRV_29 127.0.0.1:8443 disabled
  server SRV_30 127.0.0.1:8443 disabled
  server SRV_31 127.0.0.1:8443 disabled
  server SRV_32 127.0.0.1:8443 disabled
  server SRV_33 127.0.0.1:8443 disabled
  server SRV_34 127.0.0.1:8443 disabled
  server SRV_35 127.0.0.1:8443 disabled
  server SRV_36 127.0.0.1:8443 disabled
  server SRV_37 127.0.0.1:8443 disabled
  server SRV_38 127.0.0.1:8443 disabled
  server SRV_39 127.0.0.1:8443 disabled
  server SRV_40 127.0.0.1:8443 disabled
  server SRV_41 127.0.0.1:8443 disabled
  server SRV_42 127.0.0.1:8443 disabled